.contact-container {
    width: 300px;
    margin: 50px auto;
    text-align: center;
    color: red
  }
  
  .success-message {
    color: green;
  }
  
  form input,
  form textarea {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 100%;
    border: 1px solid #040404;
    border-radius: 5px;
  }
  
  form button {
    padding: 8px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  